# ESP32-S3：kyle-s3-lcd（16MB Flash，8MB Octal PSRAM，ST7789 + 触摸）
CONFIG_IDF_TARGET="esp32s3"
CONFIG_BOARD_KYLE_S3_LCD=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_OCT_FLASH=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
